
     <!-- Bootstrap CSS --> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- Font-Awesome -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

        <title>Team</title>
    <section class="team">
        <div class="container">
            <h1>Meet The Team</h1>

        <div class="card">
            <div class="box">
                <img src="../../assets/aboutimage/sudhir.jpeg" alt="Image" class="image">
                <h4>Sudhir</h4>
                <h5>ADIT(IBM) Trainee</h5>
                <div class="Social">     
                    <a href="https://github.com/adhirasudhir"><i class="fa fa-github-square"></i></a>
                    <a href="https://www.linkedin.com/in/sudhir-606a32274/"><i class="fa fa-linkedin-square"></i></a>
                    
                </div>    
            </div>
        </div>

        <div class="card">
            <div class="box">
                <img src="../../assets/aboutimage/arvinder.jpeg" alt="Image" class="image">
                <h4>Arvinder Singh Saini</h4>
                <h5>ADIT(IBM) Trainee</h5>
                <div class="Social">     
                    <a href="https://github.com/Arvindersaina"><i class="fa fa-github-square"></i></a>
                    <a href="https://www.linkedin.com/in/arvinder-singh-89618a267"><i class="fa fa-linkedin-square"></i></a>
                    
                </div>    
            </div>
        </div>

        <div class="card">
            <div class="box">
                <img src="../../assets/aboutimage/abhishek.jpeg" alt="Image" class="image">
                <h4>Abhishek Shukla</h4>
                <h5>ADIT(IBM) Trainee</h5>
                <div class="Social">     
                    <a href="https://github.com/iabhi1703"><i class="fa fa-github-square"></i></a>
                    <a href="https://www.linkedin.com/in/abhishuklaz/"><i class="fa fa-linkedin-square"></i></a>
                    
                </div>    
            </div>
        </div>

        <div class="card">
            <div class="box">
                <img src="../../assets/aboutimage/tushar.jpeg" alt="Image" class="image">
                <h4>Tushar</h4>
                <h5>ADIT(IBM) Trainee</h5>
                <div class="Social">     
                    <a href="https://github.com/Tushar0926"><i class="fa fa-github-square"></i></a>
                    <a href="https://www.linkedin.com/in/tushar-swami-45a848271/"><i class="fa fa-linkedin-square"></i></a>
                    
                </div>    
            </div>
        </div>
      
        <div class="card">
            <div class="box">
                <img src="../../assets/aboutimage/sourav.jpeg" alt="Image" class="image">
                <h4>Sourav</h4>
                <h5>ADIT(IBM) Trainee</h5>
                <div class="Social">     
                    <a href=""><i class="fa fa-github-square"></i></a>
                    <a href="https://www.linkedin.com/in/saurav-b08282289/"><i class="fa fa-linkedin-square"></i></a>
                    
                </div>    
            </div>
        </div>
 
       <div class="card">
            <div class="box">
                <img src="../../assets/aboutimage/sheetal.jpeg"alt="Image" class="image">
                <h4>Sheetal</h4>
                <h5>ADIT(IBM) Trainee</h5>
                <div class="Social">     
                    <a href="https://github.com/SheetalThakur2003"><i class="fa fa-github-square"></i></a>
                    <a href="https://www.linkedin.com/in/sheetal-t-979563262"><i class="fa fa-linkedin-square"></i></a>
                    
                </div>    
            </div>
        </div>

        <div class="card">
            <div class="box">
                <img src="../../assets/aboutimage/renu.jpeg" alt="Image" class="image">
                <h4>Renu</h4>
                <h5>ADIT(IBM) Trainee</h5>
                <div class="Social">     
                    <a href="https://github.com/renubisht1234567"><i class="fa fa-github-square"></i></a>
                    <a href="https://www.linkedin.com/in/renu-bisht-76bb85243/"><i class="fa fa-linkedin-square"></i></a>
                    
                </div>    
            </div>
        </div>

        <div class="card">
            <div class="box">
                <img src="../../assets/aboutimage/Chandani.jpg" alt="Image" class="image">
                <h4>Chandani</h4>
                <h5>ADIT(IBM) Trainee</h5>
                <div class="Social">     
                    <a href="https://github.com/Chandani1234567"><i class="fa fa-github-square"></i></a>
                    <a href="https://www.linkedin.com/in/chandni-verma-947519206/"><i class="fa fa-linkedin-square"></i></a>
                    
                </div>    
            </div>
        </div>
            
        <div class="card">
            <div class="box">
                <img src="../../assets/aboutimage/vinita.jpeg" alt="Image" class="image">
                <h4>Vinita</h4>
                <h5>ADIT(IBM) Trainee</h5>
                <div class="Social">     
                    <a href=""><i class="fa fa-github-square"></i></a>
                    <a href="https://www.linkedin.com/in/vinita-rawat-5ba448244/"><i class="fa fa-linkedin-square"></i></a>
                    
                </div>    
            </div>
        </div>
        <div class="card">
          <div class="box">
              <img src="../../assets/aboutimage/bhawna.jpeg" alt="Image" class="image">
              <h4>Bhawna</h4>
              <h5>ADIT(IBM) Trainee</h5>
              <div class="Social">     
                  <a href=""><i class="fa fa-github-square"></i></a>
                  <a href="https://www.linkedin.com/in/bhawna-kumari-632002v/"><i class="fa fa-linkedin-square"></i></a>
                  
              </div>    
          </div>
      </div>
    </div>
    </section>  
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/  GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    

